{% extends "page_template.html" %}



{% block Header_Options %}

{% if name != None %}

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li>

<a href="/profile">Profile</a>
</li>
<li>
<a href="/logout">Logout</a>
</li>
</ul>
</div>
<!-- /.navbar-collapse -->
{% endif %}
{% endblock Header_Options %}

{% block bodyContent %}

{% if name != None %}
<body> You are logged in, {{name}}! </body>

{% else %}

You are not logged in. Please log in.

{% endif %}


{% endblock bodyContent %}
